[Unit]
Description=Starts the infra-app

[Service]
User=root
WorkingDirectory=/infra-app
ExecStart=node build/index.js
Restart=always
EnvironmentFile=/infra-app/.env

[Install]
WantedBy=multi-user.target
